<% content_for :header do -%>
<script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/swfobject.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#lNav').css('height',550);
    var h = 550-28;
    $('#lSep').css('height',h);
    $('#rSep').css('height',h);
    // var h = (document.getElementById('placeholder').offsetHeight)-28;
    var total = <%= @portfolios.size %>; //0;
    var row = Math.ceil(Math.sqrt(total));
    var col = Math.ceil(total/row);
    var fo = new SWFObject("/images/tiltviewer/tiltviewer.swf", "viewer", "100%", h, "9.0.28", "#FFFFFF");

    // XML GALLERY OPTIONS
    // To use local images defined in an XML document, use this block
    fo.addVariable("useFlickr", "false");
    fo.addVariable("xmlURL", "/portfolios/by_type/<%= @type_id %>.xml");
    //fo.addVariable("maxJPGSize","240");

    //GENERAL OPTIONS
    fo.addVariable("useReloadButton", "false");
    fo.addVariable("columns", <%= tilt_grid_setting(@type_id)[:column] %>);
    fo.addVariable("rows", <%= tilt_grid_setting(@type_id)[:row] %>);
    //fo.addVariable("showFlipButton", "true");
    //fo.addVariable("showLinkButton", "true");
    fo.addVariable("linkLabel", "View Detail");
    fo.addVariable("frameColor", "0x646458");
    fo.addVariable("backColor", "0xC2C2B8");
    fo.addVariable("bkgndInnerColor", "0xE6E6DC");
    fo.addVariable("bkgndOuterColor", "0x404035");
    //fo.addVariable("langGoFull", "Go Fullscreen");
    //fo.addVariable("langExitFull", "Exit Fullscreen");
    //fo.addVariable("langAbout", "About");
    fo.addVariable("linkTarget", "_self");
    fo.addVariable("zoomedInDistance", 1800);
    fo.addVariable("zoomedOutDistance", (<%= tilt_grid_setting(@type_id)[:row] %>+1)*1200);
    fo.addVariable("fontName", "Century Gothic");
    fo.addVariable("linkTextColor", "0xFF1800");
    fo.addVariable("linkBkgndColor", "0xC2C2B8");
    fo.addVariable("titleFontSize", 74);

    // END TILTVIEWER CONFIGURATION OPTIONS

    fo.addParam("allowFullScreen","true");
    fo.write("flashcontent");
  });
</script>
<style type="text/css">
/* hide from ie on mac \*/
html {
  height: 100%;
  /*overflow: hidden;*/
}

#flashcontent {
  height: 100%;
}
/* end hide */
</style>
<% end -%>
<td width="100%" valign="top" bgcolor="#E6E6DC">
  <div id="flashcontent"></div>
</td>