<tr>
  <td height="16"><a href="<%= switch_lang_url %>"> <img src="/images/<%= t("site.lang_switch_image") %>" name="lang_switch" border="0" id="lang_switch" onMouseOver="MM_swapImage('lang_switch','','/images/<%= t("site.lang_switch_image_on") %>',1)" onMouseOut="MM_swapImgRestore()"></a></td>
</tr>
<tr>
  <td bgcolor="#B3B39A" height="1"><img src="/images/spacer_g.gif" width="1" height="1"></td>
</tr>
<tr>
  <td height="50" valign="top" class="contact_en"><img src="/images/spacer.gif" width="1" height="10"><br>
    &nbsp;&nbsp;<%= t("site.phone_abbr") %>: 86-21-63510848<br>
    &nbsp;&nbsp;<%= t("site.fax_abbr") %>: 86-21-63510846<br>
    &nbsp;&nbsp;</td>
</tr>